@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/utilities";
@import "../../sass/typography";

.header {
  &__toolbar {
    background-color: #202020;
  }

  &__title {
    &-link {
      &:link,
      &:visited {
        display: inline-block;
        letter-spacing: 0.2rem;
        color: white;
        font-size: 2rem;
        font-weight: 500;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }

  &__spacer {
    flex: 1 1 auto;
  }

  &__button {
    border-color: white;
    color: white;

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &__links {
    width: 100%;
  }

  &__list {
    display: table;
    width: 100%;
    list-style: none;
  }

  &__item {
    display: table-cell;
    text-align: center;
  }

  &__link {
    display: block;
    color: white;
    font-size: $link-font-size;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
  }
}
