<div class="header">
  <mat-toolbar class="header__toolbar">
    <mat-toolbar-row class="header__row--1">
      <div class="header__title">Hey Mom Hey Dad</div>
      <div class="header__spacer"></div>
      <button mat-stroked-button class="header__button">
        Sign Up / Log In
      </button>
      <button mat-stroked-button class="header__button">My Profile</button>
    </mat-toolbar-row>

    <mat-toolbar-row class="header__row--2">
      <div class="header__links">
        <ul>
          <li><a>link</a></li>
          <li><a>link</a></li>
          <li><a>link</a></li>
          <li><a>link</a></li>
          <li><a>link</a></li>
        </ul>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
