<section class="header">
  <div class="title" routerLink="home">Hey Mom Hey Dad</div>
  <div class="links">
    <ul class="nav">
      <li class="nav__item"><a routerLink="about-us" class="nav__link">About Us</a></li>
      <li class="nav__item"><a routerLink="events" class="nav__link">Events</a></li>
      <li class="nav__item"><a routerLink="services" class="nav__link">Services</a></li>
      <li class="nav__item"><a routerLink="products" class="nav__link">Products</a></li>
      <li class="nav__item"><a routerLink="contacts" class="nav__link">Contacts</a></li>
    </ul>
  </div>
  <div class="actions">
    <ul class="nav">
      <li class="nav__item"><a class="nav__link">Sign Up</a></li>
      <li class="nav__item"><a routerLink="profile" class="nav__link">Profile</a></li>
    </ul>
  </div>
</section>
