<div class="header">
  <mat-toolbar class="header__toolbar">
    <mat-toolbar-row class="header__row--1">
      <div class="header__title">
        <a routerLink="/home" class="header__title-link">Hey Mom Hey Dad</a>
      </div>
      <div class="header__spacer"></div>
      <button mat-stroked-button class="header__button">
        Sign Up / Log In
      </button>
      <button mat-stroked-button class="header__button" routerLink="/profile">
        My Profile
      </button>
    </mat-toolbar-row>

    <mat-toolbar-row class="header__row--2">
      <div class="header__links">
        <ul class="header__list">
          <li class="header__item"><a class="header__link">link</a></li>
          <li class="header__item"><a class="header__link">link</a></li>
          <li class="header__item"><a class="header__link">link</a></li>
          <li class="header__item"><a class="header__link">link</a></li>
          <li class="header__item"><a class="header__link">link</a></li>
        </ul>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
