@import "../../assets/sass/variables";
@import "../../assets/sass/mixins";
@import "../../assets/sass/utilities";
@import "../../assets/sass/typography";
@import "../../assets/sass/fonts";
@import "../../assets/sass/components/button";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 7rem;
  background-color: $d-4;
  color: white;
  height: 7rem;
}

// flex item
.title {
  font-size: 1.9rem;
  font-weight: 700;
}

// flex item & container
.links {
  font-size: 1.6rem;

  display: flex;
  align-items: center;
  align-self: stretch;
}

// flex item & container
.actions {
  font-size: 1.6rem;

  display: flex;
  align-items: center;
  align-self: stretch;
}

.nav {
  list-style: none;
  height: 100%;
  display: flex;

  &__item {
    padding: 1.5rem;
    transition: all 0.2s;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__item:hover {
    background-color: $d-3;
  }
}
