@import "../../assets/sass/variables";
@import "../../assets/sass/mixins";
@import "../../assets/sass/utilities";
@import "../../assets/sass/typography";
@import "../../assets/sass/components/button";

.footer {
  display: flex;
  justify-content: space-between;
  background-color: $d-4;
  color: white;
  padding: 7rem;
}

.about {
  flex: 0 0 40%;
}

.socials {
  // flex: 0 0 30%;
}

.contact {
  // flex: 0 0 30%;
}

.heading {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  display: inline-block;
  border-bottom: 3px solid $d-2;
}

.text {
  color: $d-2;
  font-size: 1.4rem;
}

ul {
  list-style: none;

  li {
    &:not(:last-child) {
      margin-bottom: 0.8rem;
    }
  }
}
