@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/utilities";
@import "../../sass/typography";

.footer {
  background-color: #202020;
  padding: 7rem 0;
  text-align: center;

  &__logo-box {
    display: block;
    margin-bottom: 8rem;
  }

  &__logo {
    border-radius: 50%;
    height: 15rem;
    width: 15rem;
    margin: 0 auto;
    background-color: 202020;
    color: white;
    border: 3px solid white;
    position: relative;

    &-text {
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 3rem;
    }
  }

  &__navigation {
    border-top: 1px solid white;
    padding: 2rem 1rem;
    display: inline-block;
  }

  &__list {
    list-style: none;
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 3.5rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      color: white;
      font-size: $link-font-size;
      font-weight: 500;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
    }
  }
}
