<section class="footer">
  <div class="about">
    <div class="heading-secondary">About Us</div>
    <div class="paragraph">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium,
      fugiat exercitationem error minus corporis eius distinctio quis rem iusto
      quibusdam dignissimos a? Quas itaque dolor laboriosam, asperiores rerum
      adipisci unde commodi sed iusto, excepturi veritatis necessitatibus
      laborum id cum corrupti alias esse nostrum ea deserunt accusantium.
      Eveniet ea non repellendus.
    </div>
  </div>

  <div class="socials">
    <div class="heading-secondary">Social Media</div>
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item"><a href="" class="nav__link">instagram</a></li>
        <li class="nav__item"><a href="" class="nav__link">facebook</a></li>
        <li class="nav__item"><a href="" class="nav__link">twitter</a></li>
      </ul>
    </nav>
  </div>

  <div class="contact">
    <div class="heading-secondary">Contact Info</div>
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item">
          <ion-icon name="location"></ion-icon>&nbsp; Seoul, South Korea
        </li>
        <li class="nav__item">
          <ion-icon name="call"></ion-icon>&nbsp; +82 010 9240 9422
        </li>
        <li class="nav__item">
          <ion-icon name="mail"></ion-icon>&nbsp; johakim9936@gmail.com
        </li>
      </ul>
    </nav>
  </div>
</section>
