@import "../../assets/sass/variables";
@import "../../assets/sass/mixins";
@import "../../assets/sass/utilities";
@import "../../assets/sass/typography";

// flex container
.footer {
  display: flex;
  justify-content: space-between;
  background-color: $d-4;
  color: white;
  padding: 7rem;

  &__text {
    color: $d-2;
  }
}

// flex item
.about {
  flex: 0 0 40%;
}

// links
.nav {
  color: $d-2;

  &__list {
    list-style: none;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 0.8rem;
    }
  }

  &__link:link,
  &__link:active,
  &__link:visited {
    text-decoration: none;
    color: inherit;
  }
}
