@import "../variables";

.btn {
  border-radius: $border-radius;
  padding: 0.4rem 1rem;
  background-color: white;
  color: $d-4;
  transition: all 0.2s;

  &:hover {
    background-color: $d-3;
    color: white;
  }
}
