<div class="profile">
  <div class="my-profile">
    <div class="card">
      <div class="my-profile__photo"></div>
      <div class="my-profile__text">
        <div class="my-profile__name">First Last</div>
        <div class="my-profile__desc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque quia
          ullam officia, explicabo dolorem quibusdam. Laudantium ipsum laborum
          quaerat voluptas.
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="about card">
      <div class="about__heading">Specialty</div>
      <div class="about__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus
        fugiat aliquam ducimus, doloribus magni veniam ea harum labore at natus!
        Ab eaque sed voluptates, nulla totam fugit praesentium facere! Maiores,
        dolore voluptatibus. Ipsum sed officia ipsa nobis, ducimus incidunt
        tempore?
      </div>
    </div>
    <div class="blogs card">blogs</div>
  </div>
</div>
