@import "../../assets/sass/variables";
@import "../../assets/sass/mixins";
@import "../../assets/sass/utilities";
@import "../../assets/sass/typography";
@import "../../assets/sass/components/button";

.profile {
  padding: 7rem;
  display: flex;
}

.my-profile {
  flex: 0 0 22%;
  margin-right: 3rem;

  &__photo {
    background-image: url("../../assets/img/portrait-1.jpg");
    height: 20rem;
    background-size: cover;
    background-position: center;
  }

  &__text {
    padding: 1.9rem;
  }

  &__name {
    display: inline-block;
    margin-bottom: 1.3rem;
    font-weight: 500;
  }

  &__desc {
    font-size: 1.5rem;
    line-height: 1.4;
  }
}

.content {
  // takes up remainder of space horizontally
  flex: 1;
}

.about {
  margin-bottom: 2rem;
  padding: 2rem;

  &__heading {
    margin-bottom: 1rem;
    font-size: 1.8rem;
    display: inline-block;
    border-bottom: 3px solid $d-2;
  }

  &__text {
    font-size: 1.4rem;
  }
}

.blogs {
  height: 50rem;
  padding: 2rem;
}

.card {
  box-shadow: 0px 1px 20px rgba($d-3, 0.1);
  border-radius: $border-radius;
  overflow: hidden;
}
