<div class="profile">
  <div class="box0">
    <div class="box0__links">
      <ul class="box0__list">
        <li class="box0__item"><a href="#" class="box0__link">My Blogs</a></li>
        <li class="box0__item">
          <a href="#" class="box0__link">My Profile</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="box1">
    <div class="box1__profile">
      <div class="box1__image">IMAGE</div>
      <div class="box1__name">John Doe</div>
      <div class="box1__description">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus
        ipsam, deserunt sequi, quis dignissimos repellat omnis voluptates natus,
        in harum odio animi temporibus nihil explicabo consectetur suscipit cum!
        Nulla libero, pariatur eum iure enim dolore quisquam aperiam odit
        delectus soluta tempora reiciendis, illo perspiciatis. Dolorum ut quasi
        dignissimos fugit reprehenderit!
      </div>
    </div>
  </div>
  <div class="box2">
    <div class="box2__introduction">
      <div class="box2__heading">Specialty</div>
      <div class="box2__description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis,
        mollitia.
      </div>
      <div class="box2__heading">Years of Experience</div>
      <div class="box2__description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis,
        mollitia.
      </div>
    </div>
  </div>
  <div class="box3">
    <div class="box3__blogs">
      <div class="box3__empty-blogs">
        <div class="box3__message">
          No Published Blogs!
        </div>
        <div class="box3__btn">
          <button mat-stroked-button>Create Blog</button>
        </div>
      </div>

    </div>
  </div>
</div>
