/* You can add global styles to this file, and also import other style files */
@import 'sass/variables';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

// This defines what 1rem is
html {
  font-size: 50%;
}

body {
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding: 1rem;
}
