/* You can add global styles to this file, and also import other style files */
@import "./assets/sass/variables";
@import "./assets/sass/mixins";
@import "./assets/sass/utilities";
@import "./assets/sass/typography";
@import "./assets/sass/fonts";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  color: $d-4;
}
