<section class="home">
  <div class="home__banner">
    <div class="home__banner--text">
      <div class="home__banner--heading">Hey Mom Hey Dad</div>
      <div class="home__banner--subheading">share your craft</div>
    </div>
  </div>

  <div class="home__members">
    <div class="u-center-text u-margin-bottom-medium">
      <div class="heading-primary">Our Members</div>
    </div>

    <div class="home__members--cards">
      <div class="home__members--card">
        <div class="home__members--picture">
          <img src="./assets/img/girl.png" alt="" />
        </div>
        <div class="home__members--text">
          <div class="u-center-text">
            <div class="home__members--name">Jane Doe</div>
          </div>
          <div class="paragraph">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
            commodi cum iste dignissimos deserunt facilis.
          </div>
        </div>
      </div>

      <div class="home__members--card">
        <div class="home__members--picture">
          <img src="./assets/img/girl2.png" alt="" />
        </div>
        <div class="home__members--text">
          <div class="u-center-text">
            <div class="home__members--name">Jane Doe</div>
          </div>
          <div class="paragraph">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
            commodi cum iste dignissimos deserunt facilis.
          </div>
        </div>
      </div>

      <div class="home__members--card">
        <div class="home__members--picture">
          <img src="./assets/img/grandmother.png" alt="" />
        </div>
        <div class="home__members--text">
          <div class="u-center-text">
            <div class="home__members--name">Jane Doe</div>
          </div>
          <div class="paragraph">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
            commodi cum iste dignissimos deserunt facilis.
          </div>
        </div>
      </div>

      <div class="home__members--card">
        <div class="home__members--picture">
          <img src="./assets/img/hipster.png" alt="" />
        </div>
        <div class="home__members--text">
          <div class="u-center-text">
            <div class="home__members--name">John Smith</div>
          </div>
          <div class="paragraph">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
            commodi cum iste dignissimos deserunt facilis.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
