<section class="home">
  <div class="home__banner">
    <div class="home__banner--text">
      <div class="home__banner--heading">share your craft</div>
    </div>
  </div>

  <div class="home__purpose">
    <div class="u-center-text u-margin-bottom-medium">
      <div class="heading-primary">Our Services</div>
    </div>
    <div class="paragraph">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. A quod odio modi
      fuga nobis eum mollitia, distinctio neque delectus facilis veniam incidunt
      natus ex animi commodi, voluptate eveniet itaque voluptatum eligendi
      eaque. Deserunt facere atque, ipsam qui sint inventore, officia pariatur
      culpa autem dignissimos eos libero assumenda modi illo! Molestiae!
    </div>
  </div>

  <div class="home__members">
    <div class="u-center-text u-margin-bottom-medium">
      <div class="heading-primary">Our Members</div>
    </div>

    <div class="home__members--cards">
      <div class="home__members--card">
        <div class="home__members--picture">
          <img src="./assets/img/girl.png" alt="" />
        </div>
        <div class="home__members--text">
          <div class="u-center-text">
            <div class="home__members--name">Jane Doe</div>
          </div>
          <div class="paragraph">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
            commodi cum iste dignissimos deserunt facilis.
          </div>
        </div>
      </div>

      <div class="home__members--card">
        <div class="home__members--picture">
          <img src="./assets/img/girl2.png" alt="" />
        </div>
        <div class="home__members--text">
          <div class="u-center-text">
            <div class="home__members--name">Jane Doe</div>
          </div>
          <div class="paragraph">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
            commodi cum iste dignissimos deserunt facilis.
          </div>
        </div>
      </div>

      <div class="home__members--card">
        <div class="home__members--picture">
          <img src="./assets/img/grandmother.png" alt="" />
        </div>
        <div class="home__members--text">
          <div class="u-center-text">
            <div class="home__members--name">Jane Doe</div>
          </div>
          <div class="paragraph">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
            commodi cum iste dignissimos deserunt facilis.
          </div>
        </div>
      </div>

      <div class="home__members--card">
        <div class="home__members--picture">
          <img src="./assets/img/hipster.png" alt="" />
        </div>
        <div class="home__members--text">
          <div class="u-center-text">
            <div class="home__members--name">John Smith</div>
          </div>
          <div class="paragraph">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
            commodi cum iste dignissimos deserunt facilis.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
