@import "../../assets/sass/variables";
@import "../../assets/sass/mixins";
@import "../../assets/sass/utilities";
@import "../../assets/sass/typography";

.home {
  padding: 2rem;

  &__banner {
    // background-image: url("../../assets/img/winery.jpg");
    // background-size: cover;
    position: relative;
    background-color: $d-3;
    border-radius: $border-radius;
    color: white;
    height: 38rem;

    &--text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      line-height: 1.5;
    }

    &--heading {
      font-weight: 700;
      font-size: 3rem;
    }
  }

  &__purpose {
    padding: 7rem 0rem;
    background-color: orangered;
  }

  &__members {
    padding: 7rem 0rem;

    &--cards {
      display: flex;
      justify-content: space-around;
    }

    &--card {
      box-shadow: 1px 1px 20px rgba($d-4, 0.1);
      border-radius: 20px;
      flex-basis: 15rem;
      flex-grow: 0;
      flex-shrink: 0;
      height: 19rem;
      overflow: hidden;
    }

    &--picture {
      height: 45%;
      position: relative;
      background-color: $d-1;

      img {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &--text {
      padding: 0.8rem;
    }

    &--name {
      padding-bottom: 0.3rem;
      display: inline-block;
      border-bottom: 2px solid $d-4;
      margin-bottom: 0.5rem;
    }
  }
}
