<div class="home">
  <!-- CATEGORIES -->
  <div class="box0">
    <div class="box0__categories">
      <ul class="box0__list">
        <li class="box0__item"><a href="#" class="box0__link">category</a></li>
        <li class="box0__item"><a href="#" class="box0__link">category</a></li>
        <li class="box0__item"><a href="#" class="box0__link">category</a></li>
        <li class="box0__item"><a href="#" class="box0__link">category</a></li>
        <li class="box0__item"><a href="#" class="box0__link">category</a></li>
      </ul>
    </div>
  </div>

  <!-- EVENTS -->
  <div class="box1">
    <div class="box1__events">
      <img
        src="assets/img/craftsmanship.jpg"
        alt="Events Image"
        class="box1__img"
      />
    </div>
  </div>

  <!-- EMPTY SECTION -->
  <div class="box2">
    <div class="u-center-text u-margin-bottom-medium">
      <h2 class="heading-secondary">Empty Section</h2>
    </div>
  </div>

  <!-- MEMBERS -->
  <div class="box3">
    <div class="u-center-text u-margin-bottom-medium">
      <h2 class="heading-secondary">Members of the Week</h2>
    </div>
    <div class="box3__members">
      <div class="box3__member">
        <mat-card class="box3__card">
          <mat-card-header class="box2__card-header">
            <mat-card-title>John Doe</mat-card-title>
          </mat-card-header>
          <div class="box3__card-image"></div>
          <mat-card-content>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat
              quia qui rem temporibus eius commodi culpa, voluptates cum optio
              minima quam reprehenderit neque deserunt harum.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="box3__member">
        <mat-card class="box3__card">
          <mat-card-header>
            <mat-card-title>John Doe</mat-card-title>
          </mat-card-header>
          <div class="box3__card-image"></div>
          <mat-card-content>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat
              quia qui rem temporibus eius commodi culpa, voluptates cum optio
              minima quam reprehenderit neque deserunt harum.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="box3__member">
        <mat-card class="box3__card">
          <mat-card-header>
            <mat-card-title>John Doe</mat-card-title>
          </mat-card-header>
          <div class="box3__card-image"></div>
          <mat-card-content>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat
              quia qui rem temporibus eius commodi culpa, voluptates cum optio
              minima quam reprehenderit neque deserunt harum.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="box3__member">
        <mat-card class="box3__card">
          <mat-card-header>
            <mat-card-title>John Doe</mat-card-title>
          </mat-card-header>
          <div class="box3__card-image"></div>
          <mat-card-content>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat
              quia qui rem temporibus eius commodi culpa, voluptates cum optio
              minima quam reprehenderit neque deserunt harum.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
