@import "../../assets/sass/variables";
@import "../../assets/sass/mixins";
@import "../../assets/sass/utilities";
@import "../../assets/sass/typography";

// flex container
.home {
  padding: 3rem 7rem;
}

// flex item
.banner {
  position: relative;
  background-color: $d-2;
  border-radius: $border-radius;
  box-shadow: 0px 1px 20px rgba($d-3, 0.1);
  height: 38rem;

  &__text {
    @include absCenter;
  }

  &__heading {
    font-size: 3rem;
    font-weight: 500;
  }
}

// flex item
.members {
  padding: 13rem 0rem;

  // flex container
  &__cards {
    display: flex;
    justify-content: space-between;
  }

  // flex item
  &__card {
    flex: 0 0 25rem;
    box-shadow: 0px 1px 20px rgba($d-3, 0.1);
    border-radius: $border-radius;
    overflow: hidden;
  }

  [class^="members__picture"] {
    height: 20rem;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center;
  }

  &__picture {
    &-1 {
      background-image: url("../../assets/img/portrait-1.jpg");
    }

    &-2 {
      background-image: url("../../assets/img/portrait-2.jpg");
    }

    &-3 {
      background-image: url("../../assets/img/portrait-3.jpg");
    }

    &-4 {
      background-image: url("../../assets/img/portrait-4.jpg");
    }
  }

  &__text {
    padding: 1.9rem;

    &--name {
      display: inline-block;
      margin-bottom: 1.3rem;
      font-weight: 500;
    }

    &--desc {
      font-size: 1.5rem;
      line-height: 1.4;
    }
  }
}
