@import "fonts";
@import "variables";

.heading-primary {
  display: inline-block;
  padding-bottom: 0.6rem;
  border-bottom: 4px solid $d-2;
  font-size: 3rem;
  font-weight: 700;
}

.heading-secondary {
  // display: inline-block;
  // font-size: 1.3rem;
  // font-weight: 500;
}

.heading-tertiary {
}

.paragraph {
  // font-size: 0.9rem;
  // line-height: 1.5;
}
