.heading-primary {
  display: inline-block;
  border-bottom: 2px solid $d-4;
  font-size: 1.8rem;
  font-weight: 500;
}

.heading-secondary {
  display: inline-block;
  font-size: 1.3rem;
  font-weight: 500;
}

.heading-tertiary {
}

.paragraph {
  font-size: 0.9rem;
  line-height: 1.5;
}
