@import "fonts";
@import "variables";

.heading-primary {
  display: inline-block;
  padding-bottom: 0.6rem;
  border-bottom: 4px solid $d-2;
  font-size: 3rem;
  font-weight: 700;
}

.heading-secondary {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  display: inline-block;
  border-bottom: 3px solid $d-2;
}

.heading-tertiary {
}

.paragraph {
  font-size: 1.5rem;
  line-height: 1.4;
}
